@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --dark-bg-color: #526088;
  --light-bg-color: #ccc5bf;
  --light-bg-alternate-top: #f5f5f3;
  --light-bg-alternate: #eaeae8;
  --light-bg-alternate-hover: #f5f5f35e;
  --dark-text-color: #526088;
  --light-text-color: #fff;
  --dark-text-color-emphasis: #c26f56;
  --dark-text-color-main: #2f374b;
  --dark-text-color-alternate: #545e49;
  --dark-text-color-main-alternate: #2c3324;
  --dark-text-color-emphasis-alternate: #8a3a21;
}

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* Navbar */

.navbar {
  position: fixed;
  width: 100%;
  font-family: "ubuntu", sans-serif;
  padding: 30px 0;
  transition: all 0.3s ease;
  z-index: 999;
}

.navbar.sticky {
  padding: 15px 0;
  background: var(--light-bg-color);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: var(--dark-text-color);
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: var(--dark-text-color-emphasis);
  font-size: 35px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: var(--light-text-color);
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: var(--dark-text-color);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: var(--dark-text-color-emphasis);
}

.navbar.sticky .menu li a:hover {
  color: var(--light-text-color);
}

/* Menu Buttons */
.menu-btn {
  color: var(--dark-text-color);
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* Home Section */
.home {
  display: flex;

  background: url("images/banner2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--dark-text-color);
  min-height: 500px;
  font-family: "ubuntu", sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .content {
  display: inline;
}

.home .content .text-1 {
  font-size: 27px;
}

.home .content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .content .text-3 span {
  color: var(--dark-text-color-emphasis);
}

.home .content a {
  display: inline-block;
  background: var(--dark-text-color-emphasis);
  color: var(--light-text-color);
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--dark-text-color-emphasis);
  transition: all 0.3s ease;
}

.home .content a:hover {
  color: var(--dark-text-color);
  background: none;
}

/* Sections */
section {
  padding: 100px 0;
  font-family: "Poppins", sans-serif;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: var(--dark-text-color);
  font-family: "Ubuntu", sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;

  background: var(--dark-text-color);
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: var(--dark-text-color-emphasis);
  background: #fff;
  transform: translateX(-50%);
}

section .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section a {
  display: inline-block;
  background: var(--dark-text-color-emphasis);
  color: var(--light-text-color);
  font-size: 15px;
  padding: 5px 20px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--dark-text-color-emphasis);
  transition: all 0.3s ease;
}

section a:hover {
  color: var(--dark-text-color);
  background: none;
}

section .content .card {
  width: calc(33% - 20px);
  color: var(--dark-text-color-main-alternate);
  background: var(--light-bg-alternate-top);
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 20px 0;
}

section .content .card .box {
  transition: all 0.3s ease;
}

section .content .card:hover {
  background: var(--light-bg-alternate-hover);
}

section .content .card:hover .box {
  transform: scale(1.05);
}
section .content .card i {
  font-size: 50px;
  color: var(--dark-text-color-main);
  transition: all 0.9s ease;
}

section .content .card:hover i {
  color: var(--dark-text-color-emphasis);
}

section .content .card img {
  height: 200px;
  width: 300px;
  object-fit: contain;
  border-radius: 6px;
  padding: 20px 10px;
  margin: 0 auto;
  transition: all 0.9s ease;
}

section .content .card:hover img {
  color: var(--dark-text-color-emphasis);
}

section .content .card .text {
  font-size: 25px;
  font-weight: 500;
  color: var(--dark-text-color-main-alternate);
  margin: 10px 0 10px;
  transition: all 0.9s ease;
}

/* About Section */
.about .title::after {
  content: "who i am";
}

.about .content .left {
  width: 45%;
}

.about .content .left img {
  /* height: 80%; */
  width: 80%;
  object-fit: cover;
  border-radius: 50%;
}

.about .content .right {
  width: 55%;
  color: var(--dark-text-color-main);
}

.about .content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .content .right .text span {
  color: var(--dark-text-color-emphasis);
}

.about .content .right p {
  text-align: justify;
}
.about .content .right p {
  text-align: justify;
}

/* Experiences Section */
.experiences {
  background: var(--light-bg-alternate);
  color: var(--dark-text-color-main-alternate);
}

.experiences .title {
  color: var(--dark-text-color-alternate);
}

.experiences .title::before {
  background: var(--dark-text-color-alternate);
}

.experiences .title::after {
  content: "what I do";
  background: var(--light-bg-alternate);
  color: var(--dark-text-color-emphasis-alternate);
}

/* Skills section */
.skills .title::after {
  content: "what I know";
}

.skills .content .column {
  width: calc(50% - 30px);
}

.skills .content .left .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .content .left .p {
  text-align: justify;
}

.skills .content .right .bars {
  margin-bottom: 15px;
}
.skills .content .right .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skills .content .right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .content .right .line {
  height: 5px;
  width: 100%;
  background: var(--light-bg-color);
  position: relative;
}
.skills .content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  left: 0;
  top: 0;
  background: var(--dark-text-color-emphasis);
}

.skills .content .right .html::before {
  width: 90%;
}
.skills .content .right .css::before {
  width: 80%;
}
.skills .content .right .javscript::before {
  width: 70%;
}
.skills .content .right .python::before {
  width: 100%;
}

/* Education Section */
.education {
  background: var(--light-bg-alternate);
  color: var(--dark-text-color-main-alternate);
}

.education .title::before {
  background: var(--dark-text-color-alternate);
}

.education .title::after {
  content: "where I studied";
  background: var(--light-bg-alternate);
  color: var(--dark-text-color-emphasis-alternate);
}

.education .content .card {
  width: 100%;
  padding: 25px 35px;
  justify-content: center;
}

.education .content .card .box {
  display: flex;
  flex-direction: column;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 5px solid var(--dark-text-color-emphasis-alternate) !important;
  transition: all 0.3s ease;
}

.owl-dot.active {
  width: 50px;
  border-radius: 14px;
}

.owl-dot:hover {
  background: var(--dark-text-color-emphasis-alternate) !important;
}
/* Responsive media query */

@media (max-width: 1104px) {
  .home .max-width {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 850px) {
  .max-width {
    padding: 0 30px;
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0%;
    background: var(--light-bg-color);
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .home .content .text-2 {
    font-size: 60px;
  }

  .home .content .text-3 {
    font-size: 30px;
  }

  .home .content a {
    font-size: 23px;
    padding: 8px 20px;
  }

  .about .content .column {
    width: 50%;
    margin: 0 40px;
  }
  .about .content .left {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0% auto 60px;
    padding: 0;
  }
  .about .content .right {
    flex: 100%;
  }

  section .content .card {
    width: calc(50% - 10px);
    margin-bottom: 10px;
  }
}

@media (max-width: 690px) {
  .home .content .text-1 {
    font-size: 20px;
  }
  .home .content .text-2 {
    font-size: 50px;
  }

  .home .content .text-3 {
    font-size: 25px;
  }

  .home .content a {
    font-size: 20px;
    padding: 8px 25px;
  }
  section .content .card {
    width: calc(100% - 10px);
    margin-bottom: 10px;
  }
  .skills .content .column {
    width: calc(100% - 30px);
    margin-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .home .content .text-1 {
    font-size: 15px;
  }
  .home .content .text-2 {
    font-size: 40px;
  }

  .home .content .text-3 {
    font-size: 20px;
  }

  .home .content a {
    font-size: 15px;
    padding: 8px 10px;
  }
}
